/bin/
/.settings/
/.classpath
/.project
.idea
.gradle
build
/partitioningGraph/
out/
src/main/output/*
src/main/resources/testGraphs/*.html
src/main/resources/testGraphs/*_dual.txt
.vscode/
cache/
*.html